* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

input[type=text], input[type=number] {
    width: 100%;
}

.sidebar {
    width: 36%;
    float: left;
    margin-right: 4%;
}

.sidebar__block {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}


#productsRoot {
    width: 60%;
    float: left;
}

.product {
    background: lightgrey;
    display: block;
    float: left;
    width: 45%;
    margin: 0 2.5% 20px;
    padding: 20px;
}

.product.product--small .product__desc {
    display: none;
}

.product:nth-child(2n + 1) {
    clear: both;
}

.product__title {
    font-size: 1.75em;
}

.product__desc {
    margin-bottom: 20px;
}

.product__price {
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
}